head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content="Bricobio, Montreal's DIYbio community.")
  meta(name='author', content='Bricobio')
  meta(name='copyright', content='2013-2015 Bricobio')
  link(rel='shortcut icon', href='/img/favicon.ico')

  title Bricobio
  
  //- core CSS
  link(rel='stylesheet', href='/css/global.css')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
