- var lang = (current.path.length > 1) ? current.path[0] : "index";

.jumbotron
  .container
    h1 #{ title[lang] }
.container-fluid
  .row(style="padding:90px;background-color:#eeffff;")
    != partial("_translations/happy-inaugural-meeting")
