.container
    .row.text-center
        h1 404

        h2 Whoops! 

        h4 We can't find the page you were looking for. 
        h3 Try your browser's back button, or click 
            b
                a(href="/") here 
            | to go back to the home page.