- var lang = (current.path.length > 1) ? current.path[0] : "index";
if lang == "en"
  
  p Thanks to everyone who came out to the 
  a(href="") Breaking Bio 
  | meeting 
  a(href="") tonight! 
  
  p Let’s keep the enthusiasm from tonight in the next weeks and months, taking steps forward to make this community an active part of Montreal’s amazing biological, engineering, and developer communities.

  p signed,
  p The DIYbio Montreal Community


if lang == "fr"
  
  p Merci à tout le monde qui est venu
  a(href="") Breaking Bio 
  | meeting 
  a(href="") tonight! 
  
  p Let’s keep the enthusiasm from tonight in the next weeks and months, taking steps forward to make this community an active part of Montreal’s amazing biological, engineering, and developer communities.

  p signed,
  p The DIYbio Montreal Community
