




mixin tree(head, tail)
  - var filter = /(\.html$)/;
  - var replace = /(\.html$)|(^index\.html$)/;
  
  for val, key in head
    if key !== '.git' && key !== '_data'
      if key == '_contents'
        each file in val
          if filter.test(file) && !/^404\.html/.test(file)
            - file = file.replace(replace, "");
            li
              a(href="#{ tail + file }") #{ tail + file }
      else
        mixin tree(val, tail + key + "/")

h1 Sitemap
ol
  mixin tree(public, "/")




//- loading javascript at end
script(src='//code.jquery.com/jquery.js')
script(async, src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
