- var lang = (current.path.length > 1) ? current.path[0] : "index";
if lang == "en"
  
  p It's currently January 2015! Happy New Year! We'll be setting up a news/blog panel here. The latest news is that we're doing a big website overhaul and it will be beautiful shortly afterwards.
  
  p For now, find out about us on meetup.com, twitter or facebook. See you soon!


if lang == "fr"
  
  p Maintenant, c'est Janvier 2015! Bonne année! On est en train de faire un grand overhaul sur le site web. Ici, vous allez trouver un panneau des nouvelles/blog.

  p Pour maintenant, trouvez nous sur meetup.com, twitter ou facebook. À bientôt!
